<section id="thumbSection" class="row">
      <!--loop w handlebars-->
    {{#each thing_thumb}}
    <div class="small-6 large-4 columns thumb">>
        <a href="/{{thing_title}}">
        <img src="/images/{{thing_thumb}}" alt="avatar" class="thumbPic">
        
        </a>
</div>
    
    {{/each}} <!--close loop-->
     
</section>>





